{% extends "base.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="container my-3">
    <h2 class="text-center"><b><u>Overall Percentage Calculator</u></b></h2>
    <form method="post" action="calculate">
        {% csrf_token %}
        {% comment %} class 10 {% endcomment %}
        <div class="row my-4">
            <div class="col-md-2">
                <label for="Class 10th" class="class">Class 10th <label style="color:red;">*</label> </label>
            </div>
            <div class="col-md-5">
                <input required type="text" name="tenObtain" id="Class 10th" class="form-control" placeholder="Marks Obtain">
            </div>
            <div class="col-md-5">
                <input required type="text" name="tenTotal" class="form-control" placeholder="Total Marks">
            </div>
        </div>

        {% comment %} class 12 {% endcomment %}
        <div class="row my-4">
            <div class="col-md-2">
                <label for="Class 12th" class="class">Class 12th <label style="color:red;">*</label> </label>
            </div>
            <div class="col-md-5">
                <input required type="text" name="twelveObtain" id="Class 12th" class="form-control" placeholder="Marks Obtain">
            </div>
            <div class="col-md-5">
                <input required type="text" name="twelveTotal" class="form-control" placeholder="Total Marks">
            </div>
        </div>

        {% comment %} Graduation {% endcomment %}
        <div class="row my-4">
            <div class="col-md-2">
                <label for="Graduation" class="class">Graduation</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="Graduation" name="GraduationObtain" class="form-control" placeholder="Marks Obtain">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" name="GraduationTotal" placeholder="Total Marks">
            </div>
        </div>


        {% comment %} Post Graduation {% endcomment %}
        <div class="row my-4">
            <div class="col-md-2">
                <label for="Post Graduation" class="class">Post Graduation</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="Post Graduation" name="PostGraduationObtain" class="form-control" placeholder="Marks Obtain">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" name="PostGraduationTotal" placeholder="Total Marks">
            </div>
        </div>
        <div class="text-center mb-3">
            <input type="submit" value="Calculate" class="btn btn-primary btn-lg">
        </div>
        <div class="text-center mb-5 blink_me">
            {{msg}}
        </div>
        <div class="mb-2" style="visibility:hidden;">a</div>

    </form>
</div>
{% endblock body %}